
<div id = "wrapper">
 <section>
	<nav>
		<ul>
			<h1 style="font-family: georgia ; font-size:40px; color:white;">from midnight to sunrise</h1>
	 <br>
			<p style="font-size:7px; color:#5CBDE2;">
				잠오지 않는 밤의 기록
			</p><br>
			<div class ="write">
  <form action="/create" method="post">
  <!--input name="authenticity_token" value="<% form_authenticity_token %>" type= "hidden"-->
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="title">제목:</label><br>
  <input type="text" name="title"><br>
  <label for="content">내용:</label><br>
  <textarea name="content"></textarea><br>
  <input type="submit" value="Submit">
</form> 
</div>
					<br><br>
						<div>
		<iframe width="200" height="180" src="https://www.youtube.com/embed/dchrcMWjMmU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>"
		
	</div>
				</ul>
			</nav>
			<section>
				<article>
<div class ="diary">

<%@posts.each do |post| %>
<br><br>
<p><%= post.title%></p>
<p><%= post.content %></p>
<a href="/edit?id=<%= post.id%>">고치기</a>
<a href="/delete?id=<%= post.id%>">지우기</a>
<% end %>
</div>
				</article>
		</section>
	</section>
</div>


